{view head}

<!--{eval $mapList=cat('map');}-->
<!--{eval $daojuKind=cat('daojuKind');}-->
<!--{eval $npcKind=cat('npcKind');}-->
<!--{eval $magicKind=cat('magicKind');}-->
<!--{eval $equipKind=cat('equipKind');}-->
<!--{eval $equipBrand=cat('equipBrand');}-->
<!--{eval $albumCat=cat('album');}-->


<!--游戏资料-->
<div class="">


	<div class="zllist">
		<div class="zla">新手指南</div>
		<!--{loop $DocumentList['xinshou'] $key $List}-->
		<div class="zlc"><a class="$List[style]" href="?document=Info&did=$key" target="_blank">$List[title]</a></div>
		<!--{/loop}-->
	</div>

	<div class="zllist">
		<div class="zla">任务介绍</div>
		<!--{loop $DocumentList['renwu'] $key $List}-->
		<div class="zlc"><a class="$List[style]" href="?document=Info&did=$key" target="_blank">$List[title]</a></div>
		<!--{/loop}-->
	</div>

	<div class="zllist">
		<div class="zla">武功介绍</div>
		<!--{loop $magicKind $key $List}-->
		<div class="zlc"><a class="$List[style]" href="?magic=List&kindid=$key" target="_blank">$List[name]</a></div>
		<!--{/loop}-->
	</div>

	<div class="zllist">
		<div class="zla">真实爆率</div>
		<!--{loop $mapList $key $List}-->
		<div class="zlc"><a class="$List[style]" href="?offer=List&mapid=$key" target="_blank">$List[name]</a></div>
		<!--{/loop}-->
		<div class="zlc"><a href="?offer" target="_blank">完整爆率</a></div>
	</div>


	<div class="zllist">
	<div class="zla">地图介绍</div>
	<!--{loop $AlbumList['ditu'] $key $List}-->
	<div class="zlc"><a class="$List[style]" href="?album=Info&albumid=$key" target="_blank">$List[name]</a></div>
	<!--{/loop}-->
	</div>

	<div class="zllist">
	<div class="zla">装备系列</div>
	<!--{loop $equipBrand $key $List}-->
	<div class="zlc"><a class="$List[style]" href="?equip=List&brandid=$key" target="_blank">$List[name]</a></div>
	<!--{/loop}-->
	</div>

	<div class="zllist">
	<div class="zla">装备类型</div>
	<!--{loop $equipKind $key $List}-->
	<div class="zlc"><a class="$List[style]" href="?equip=List&kindid=$key" target="_blank">$List[name]</a></div>
	<!--{/loop}-->
	</div>

	<div class="zllist">
	<div class="zla">怪物NPC</div>
	<!--{loop $mapList $key $List}-->
	<div class="zlc"><a class="$List[style]" href="?npc=List&mapid=$key" target="_blank">$List[name]</a></div>
	<!--{/loop}-->
	</div>

	<div class="zllist">
	<div class="zla">道具介绍</div>
	<!--{loop $daojuKind $key $List}-->
	<div class="zlc"><a class="$List[style]" href="?daoju=List&kindid=$key" target="_blank">$List[name]</a></div>
	<!--{/loop}-->
	</div>

	<div class="zllist">
	<div class="zla">相册</div>
	<!--{loop $albumCat $key $List}-->
	<div class="zlc"><a class="$List[style]" href="?album=List&catid=$key" target="_blank">$List[name]</a></div>
	<!--{/loop}-->
	</div>

</div>


{view foot}
