{view head}


<h1>客户端下载</h1>
<table class="Sheet">
	<tr>
		<td class="g1">资源</td>
		<td class="g3">客户端下载</td>
	</tr>

	<tr>
		<td>客户端名称</td>
		<td>仙侠千年</td>
	</tr>

	<tr>
		<td>更新时间</td>
		<td>2018-02-02</td>
	</tr>

	<tr>
		<td>
			<a href="https://pan.baidu.com/s/1dHnjyk5">百度云盘</a>
		</td>
		<td>
			<a href="https://pan.baidu.com/s/1dHnjyk5"><img width="80px" src="$theme/images/down-baiduyun.png"></a>
		</td>
	</tr>

	<tr>
		<td>
			<a href="http://xz.1000yk.com/yy/xx.rar">网站HTTP下载</a>
		</td>
		<td>
			<a href="http://xz.1000yk.com/yy/xx.rar"><img width="80px" src="$theme/images/down-http.jpg"></a>
		</td>
	</tr>

</table>

{view foot}
