{view head}
<!--{eval $mapList=cat('map');}-->
<!--{eval $daojuKind=cat('daojuKind');}-->

<div class="diy">
<!--{loop $daojuKind $key $Cat}-->
<a class="zihong" href="?$ctrl=List&kindid=$key">$Cat[name]</a>
<!--{/loop}-->
</div>



<!--{if $kindid}-->
<div class="diy">
	<span>$daojuKind[$kindid][name]</span>
</div>
<!--{/if}-->

<table class="Sheet">

<tr>
	<td class="g1">名称</td>
	<td class="g1">说明</td>
	<td class="g1">价值</td>
</tr>

<!--{loop $dataArray $mk $Array}-->
<tr>
	<td>
		<p><img src="$Array[avatar]"></p>
		<p>$Array[name]</p>
	</td>
	<td>$Array[summary]</td>
	<td>$Array[worth]</td>
</tr>
<!--{/loop}-->
</table>

{view foot}
