
      </div><!--content-->

    </div><!--右侧-->

  </div><!--主题-->

</div><!--WRAP-->


<div class="botm">
  <div class="jiankang"><i>健康游戏公告:</i> 抵制不良游戏 <s>|</s>  拒绝盗版游戏 <s>|</s> 注意自我保护 <s>|</s> 谨防受骗上当 <s>|</s> 适度游戏益脑 <s>|</s> 沉迷游戏伤身 <s>|</s> 合理安排时间 <s>|</s> 享受健康生活 </div>
  <div class="botmarea">
    <div class="botmmain">
      <div class="botmmains">
        <div class="botm-logo"><a href="javascript:void(0)"><img src="$theme/images/logo2.png" width="172" height="73"></a></div>
        <div class="botm-title">
		    <i><a title="关于我们" href="http://about.zugame.com/introduce.html" target="_blank">关于我们</a></i>
			<s>|</s>
			<i><a title="联系我们" href="http://about.zugame.com/contactus.html" target="_blank">联系我们</a></i>
			<s>|</s>
			<i><a title="招贤纳士" href="http://about.zugame.com/job.html" target="_blank">招贤纳士</a></i>
			<s>|</s>
			<i><a title="产品介绍" href="http://about.zugame.com/product.html" target="_blank">产品介绍</a></i>
			<s>|</s>
			<i><a title="企业文化" href="http://about.zugame.com/culture.html" target="_blank">企业文化</a></i>
			<s>|</s>
			<i><a title="商务合作" href="http://about.zugame.com/contactus.html" target="_blank">商务合作</a></i>
        </div>
        <div class="botm-title">仙侠网络游戏平台 版权所有</div>
        <div class="botm-title"><a href="http://www.miitbeian.gov.cn/" target="_blank">备</a><u>适龄提示：本游戏适合18岁以上玩家游戏!</u></div>
      </div>
    </div>
  </div>
</div>



</body>
</html>