<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>$Nav['title']</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link type="text/css" href="$theme/images/home.css" rel="stylesheet">
</head>

<body>
{view top}

<div id="WRAP">
	<div class="subnav1"></div>
	<div class="mainadv-r1">
		<div class="rr"><a href="#"></a></div>
	</div>

	<div class="m-lef m-lefn">

		<div class="m-lefl">{view left}</div><!--左侧-->

		<div class="m-cen m-right">

			<div class="hnavs1">
				<div class="newsnavx">
					<div class="local_name">$Nav['title']</div>
					<div class="local">当前位置：$Nav['title']</div>
				</div>
			</div><!--位置-->

			<div class="content">