
			  
 			  <div class="download"><a href="/html/down/" target="_blank"></a></div>
			  <div class="backhome"><a href="javascript:"></a></div>
			  <div class="zc"><a href="javascript:"></a></div>
			  <div class="cz"><a href="javascript:"></a></div>
		      <div class="quicknav">
		        <div class="htitle">快速导航</div>
		        <div class="qk1">
				  <a href="javascript:"><img src="$theme/images/qk01.png" width="33" height="17" /><br />新手指南</a>
				</div>
		        <div class="qk2">
				  <a href="javascript:"><img src="$theme/images/qk02.png" width="20" height="20" /><br />修改资料</a>
		        </div>
		        <div class="qk3">
				  <a href="javascript:"><img src="$theme/images/qk03.png" width="22" height="32" /><br />推广活动</a>
		        </div>
		        <div class="qk4">
				  <a href="javascript:"><img src="$theme/images/qk04.png" width="26" height="15" /><br />主播陪玩</a>
		        </div>
		        <div class="qk5">
				  <a href="javascript:"><img src="$theme/images/qk05.png" width="16" height="20" /><br />密码找回</a>
		        </div>
		        <div class="qk6">
				  <a href="javascript:"><img src="$theme/images/qk06.png" width="23" height="22" /><br />手机认证</a></div>
		      </div>
		      <div class="wxh wxh-l">
 		        <div class="wxh1 wxh1-l"><i>扫一扫</i><s>获取最新游戏资讯</s></div>
 		        <div class="wxh2"><img src="$theme/images/wx.jpg" width="115" height="115" /></div>
		      </div>
		      <div class="kefu kefu1">
 		        <div class="ts1">客服中心</div>
 		        <div class="kflist kflist1">江湖行专属客服：<i>10000</i></div>
 		        <div class="kflist kflist1">工作时间：12:00-24:00</div>
 		        <div class="kflist kflist1">官方游戏客服：<i><a href="#" target="_blank">2853150269</a></i></div>
 		        <div class="kflist kflist1">工作时间：9:30-16:00</div><div class="kflist">客服电话：4000446533  (7x24小时)</div>
 		        <div class="kflist kflist1">在线QQ群：<i><a href="#" target="_blank"><IMG alt="群" src="$theme/images/qun.png" width="92" height="23"></a></i></div>
		      </div>