{view head}
<!--{eval $mapList=cat('map');}-->

<div class="diy">
<!--{loop $mapList $key $List}-->
<a class="zihong" href="?$ctrl=List&mapid=$key">$List[name]</a>
<!--{/loop}-->
</div>

<div class="diy">
	<span>$mapList[$mapid][name]</span>
</div>

<table class="Sheet">
<tr>
	<td class="g1">名称</td>
	<td class="g3">爆率</td>
</tr>
<!--{loop $OfferList $npcid $Npc}-->
<tr>
	<td>
		<span>$Npc[name]</span>
	</td>
	<td>
	<div class="left">
	<!--{loop $Npc[tabOfferList] $OfferList}-->
	<!--{loop $OfferList $id $List}-->
	<span class="$List[style]">$List[name]</span>
	<span>$List[qty]:$List[fqcy]；</span>
	<!--{/loop}-->
	<!--{/loop}-->
	</div>
	</td>
</tr>
<!--{/loop}-->

</table>

{view foot}
