
 			  <div class="download"><a href="#" target="_blank"></a></div>
			  <div class="backhome"><a target="_blank" href="http://pay83.1000ysf.net.cn/buy/?g=1"></a></div>
			  <div class="zc"><a target="_blank" href="http://144.0.3.198:8801/"></a></div>
			  <div class="cz"><a href="javascript:"></a></div>
		      <div class="quicknav">
		        <div class="htitle">快速导航</div>
		        <div class="qk1">
				  <a href="?document=Info&did=36"><img src="$theme/images/qk01.png" width="33" height="17" /><br />版本介绍</a>
				</div>
		        <div class="qk2">
				  <a href="?document=Info&did=32"><img src="$theme/images/qk02.png" width="20" height="20" /><br />套装属性</a>
		        </div>
		        <div class="qk3">
				  <a href="?document=Info&did=3"><img src="$theme/images/qk03.png" width="22" height="32" /><br />装备合成</a>
		        </div>
		        <div class="qk4">
				  <a href="?document=Info&did=35"><img src="$theme/images/qk04.png" width="26" height="15" /><br />碎片兑换</a>
		        </div>
		        <div class="qk5">
				  <a href="?document=Info&did=5"><img src="$theme/images/qk05.png" width="16" height="20" /><br />宝石镶嵌</a>
		        </div>
		        <div class="qk6">
				  <a href="?offer"><img src="$theme/images/qk06.png" width="23" height="22" /><br />完整爆率</a></div>
		      </div>