<div class="header">
  <div style="height:5px;"></div>
  <div class="topNav" id="topNav">
    <div class="topNav2">
      <div class="navBox">
        <div class="navIndexBg">
          <div class="navIL"></div>
          <div class="navIL navIR"></div>
          <div class="navIM"></div>
        </div>
        <div class="navMain" id="navMain">
          <div class="navSub_bg">
            <div class="navIndex" id="navIndex">
              <ul>
                <li>
                  <a href="/" class="nav4">官网首页</a>
                  <div class="p2">HOME</div></li>
                <li>
                  <a href="?document=List" target="_blank">新闻中心</a>
                  <div class="p2">NEWS</div></li>
                <li class="nav1">
                  <a href="?cell=Guide" target="_blank">游戏资料</a>
                  <div class="p2">GAMEDATE</div></li>
                <li>
                  <a href="#" target="_blank">游戏下载</a>
                  <div class="p2">DOWNLOAD</div></li>
                <li>
                  <a href="/#" target="_blank">客户服务</a>
                  <div class="p2">SERVICES</div></li>
                <li>
                  <a target="_blank" href="http://pay83.1000ysf.net.cn/buy/?g=1">游戏充值</a>
                  <div class="p2">INTERACTIVE</div></li>
              </ul>
            </div>
          </div>
          <div class="navSub" id="navSub">
            <div class="navMenus" style="width:1200px; margin:0 auto;">
              <dl>
                <dd></dd>
                <dd></dd>
              </dl>
              <dl>
                <dt>官网首页</dt>
                <dd>
                  <a href="/" class="">官网首页</a></dd>
                <dd></dd>
                <dd></dd>
              </dl>
              <dl>
                <dt>新闻中心</dt>
                <dd>
                  <a href="?document=List&catid=162" target="_blank">官方公告</a></dd>
                <dd>
                  <a href="#" target="_blank">游戏活动</a></dd>
                <dd>
                  <a href="#" target="_blank">媒体报导</a></dd>
              </dl>
		
              <dl>
                <dt>游戏资料</dt>
                <dd>
                  <a href="?document=List&catid=53" target="_blank">新手指南</a>
                </dd>
                <dd>
                  <a href="?document=List&catid=55" target="_blank">经验心得</a>
                </dd>
                <dd>
                  <a href="?document=List&catid=54" target="_blank">任务介绍</a>
                </dd>
              </dl>
              <dl>
                <dt></dt>
                <dd></dd>
              </dl>
              <dl class="nav3">
                <dt>游戏下载</dt>
                <dd>
                  <a href="#" target="_blank" class="hot">游戏下载</a></dd>
              </dl>
              <dl>
                <dt>客户服务</dt>
                <dd>
                  <a href="javascript:" class="hot">注册账号</a></dd>
                <dd>
                  <a href="javascript:" class="hot">游戏充值</a></dd>
                <dd>
                  <a href="javascript:" class="">密码找回</a></dd>
                <dd>
                  <a href="#" class="">客服中心</a></dd>
              </dl>
              <dl>
                <dt>游戏充值</dt>
                <dd>
                  <a target="_blank" href="http://pay83.1000ysf.net.cn/buy/?g=1" class="hot">游戏充值</a></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="logoBox">
    <h1 id="logo" class="logoPNG"></h1>
  </div>
</div>
