{view head}
<script language="javascript" src="http://$HOST/$ui/ajax.js"></script>	 
<script language="javascript" src="http://$HOST/$ui/alert.js"></script>	 
<script language="javascript" src="http://$HOST/$ui/ajaxtip.js"></script>	 
<script language="javascript">
function onSubmitCheck(thisForm){
	if(verifyV(thisForm.verify.value)) return false;
	if(passwordV(thisForm.password.value)) return false;
	if(passwordV(thisForm.repassword.value)) return false;
	Submiting(thisForm);
}
</script>


<form method="post" name="theform" id="theform" onSubmit="return onSubmitCheck(this);return false;" action="?$ctrl=passwordMofifySubmit">
<input type="hidden"  name="mobile" id="mobile" value="$mobile">
<!--{echo token();}-->
<div class="List">

	<diy class="center">
		<span id="result">修改帐号密码</span>
	</diy>

	<dl>
		<span>手机</span>
		<span class="major">$mobile</span>
	</dl>

	<dl class="between">
		<g3><input tabindex="3" type="text" name="verify" id="verify" onchange="inputAjax('verify','result');" {echo placeholderInput('输入验证码..')}></g3>
		<g2><button type="button" tabindex="2" id="sendverify" onclick="countdown(this,'60');sendVerify('result','passwordMofify');">获取短信</button></g2>
	</dl>

	<dl>
		<span>设置密码</span>
		<span><input tabindex="4" type="password" name="password" id="password" onchange="inputAjax('password','result');" {echo placeholderInput('密码..')}></span>
	</dl>

	<dl>
		<span>密码确认</span>
		<span><input tabindex="5" type="password" name="repassword" id="repassword" onchange="repasswordAjax('result');" {echo placeholderInput('密码确认..')}></span>
	</dl>	
</div>

	<button tabindex="6">确 认 修 改</button>

</form>