{view head}

<!--{eval $mapList=cat('map');}-->
<!--{eval $daojuKind=cat('daojuKind');}-->
<!--{eval $npcKind=cat('npcKind');}-->
<!--{eval $magicKind=cat('magicKind');}-->
<!--{eval $equipKind=cat('equipKind');}-->
<!--{eval $equipBrand=cat('equipBrand');}-->
<!--{eval $albumCat=cat('album');}-->

<div id="Guide">

	<section>
	<h3>新手指南</h3>
	<dl>
	<!--{loop $DocumentList['xinshou'] $key $List}-->
	<a class="$List[style]" href="?document=Info&did=$key">$List[title]</a>&nbsp;
	<!--{/loop}-->
	</dl>
	</section>


	<section>
	<h3>道具介绍</h3>
	<dl>
	<!--{loop $daojuKind $key $Cat}-->
	<dd><a href="?daoju=List&kindid=$key">$Cat[name]</a></dd>
	<!--{/loop}-->
	</dl>
	</section>

	<section>
	<h3>武功介绍</h3>
	<dl>
	<!--{loop $magicKind $key $Kind}-->
	<dd><a href="?magic=List&kindid=$key">$Kind[name]</a></dd>
	<!--{/loop}-->
	</dl>
	</section>

	<section>
	<h3>真实爆率</h3>
	<dl>
	<!--{loop $mapList $key $List}-->
	<dd><a href="?offer=List&mapid=$key">$List[name]</a></dd>
	<!--{/loop}-->
	<dt><a href="?offer">完整爆率</a></dt>
	</dl>
	</section>

	<section>
	<h3>装备</h3>
	<dl>
	<dt>系列</dt>
	<!--{loop $equipBrand $key $Brand}-->
	<dd class="$Brand[style]"><a href="?equip=List&brandid=$key">$Brand[name]</a></dd>
	<!--{/loop}-->
	</dl>
	<dl>
	<dt>类型</dt>
	<!--{loop $equipKind $key $Kind}-->
	<dd><a href="?equip=List&kindid=$key">$Kind[name]</a></dd>
	<!--{/loop}-->
	</dl>
	</section>

	<section>
	<h3>怪物NPC</h3>
	<dl>
	<!--{loop $mapList $key $List}-->
	<a href="?npc=List&mapid=$key">$List[name]</a>&nbsp;
	<!--{/loop}-->
	</dl>
	</section>

	<section>
	<h3>地图介绍</h3>
	<dl>
	<!--{loop $AlbumList['ditu'] $key $List}-->
	<dd><a href="?album=Info&albumid=$key">$List[name]</a></dd>
	<!--{/loop}-->
	</dl>
	</section>

	<section>
	<h3>任务攻略</h3>
	<dl>
	<!--{loop $DocumentList['renwu'] $key $List}-->
	<a class="$List[style]" href="?document=Info&did=$key">$List[title]</a>
	<!--{/loop}-->
	</dl>
	</section>

	<section>
	<h3>相册</h3>
	<dl>
	<!--{loop $albumCat $key $List}-->
	<a class="$List[style]" href="?album=List&catid=$key">$List[name]</a>
	<!--{/loop}-->
	</dl>
	</section>

<!-- 	<section>
<h3>帐号管理</h3>
<dl>
<a href="{echo config('url','register')}">注册</a>
<a href="{echo config('url','login')}">登录</a>
<a href="{echo config('url','forget')}">找回密码</a>
<a href="{echo config('url','user')}">个人中心</a>
</dl>
</section> -->

</div>

{view foot}
