{view man}
<!--{eval $mapList=cat('map');}-->
<!--{eval $daojuKind=cat('daojuKind');}-->
<!--{eval $mk=$Array[$primary]}-->

<form method="post" enctype="multipart/form-data" action="?$ctrl=update">
<input type="hidden" name="then" value="$REFERER"/>
<input type="hidden" name="$primary" value="$mk"/>
<!--{echo token();}-->

<div class="List">

<dt>编辑</dt>
<dl>
	<span>ID</span>
	<span>$mk</span>
</dl>

<dl class="wrap">
	<span>地图</span>
	<!--{loop $mapList $key $Map}-->
	<label class="<!--{if $key==$Array[mapid]}-->marked<!--{else}-->mark<!--{/if}-->">
	<input type="radio" name="mapid" value="$key"<!--{if $key==$Array[mapid]}--> checked<!--{/if}-->/>$Map[name]
	</label>
	<!--{/loop}-->
</dl>

<dl class="wrap">
	<span>分类</span>
	<!--{loop $daojuKind $key $Cat}-->
	<label class="<!--{if $key==$Array[kindid]}-->marked<!--{else}-->mark<!--{/if}-->">
	<input type="radio" name="kindid" value="$key"<!--{if $key==$Array[kindid]}--> checked<!--{/if}-->/>$Cat[name]
	</label>
	<!--{/loop}-->
</dl>

<dl>
	<span>装备名称</span>
	<span><input type="text" name="name" value="$Array[name]" /></span>
</dl>

<dl>
	<span>价值</span>
	<span><input type="text" name="worth" value="$Array[worth]" /></span>
</dl>


<dl>
	<span>简介</span>
	<span><textarea name="summary" cols="50">$Array[summary]</textarea></span>
</dl>
</div>

<footer>
	<button>提 交</button>
</footer>

</form>