<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$charset" />
<title>千年</title>
<base href="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="http://$HOST/$ui/common.css" rel="stylesheet" type="text/css" />
<link href="http://$HOST/$ui/color.css" rel="stylesheet" type="text/css">
<link href="http://$HOST/$ui/flex.css" rel="stylesheet" type="text/css">
<link href="http://$HOST/$ui/www.css" rel="stylesheet" type="text/css">
<style type="text/css">
input[type="button"], input[type="submit"]{
	-webkit-appearance:none;
	outline:none;
}
</style>
</head>
<body>

<!--{if defined('ISMOBILE')}-->
{view head_m}
<!--{else}-->
{view head_pc}
<!--{/if}-->

<MAIN>