{view man}

<div class="TAB">

<dd>
	<span>通知时间</span>
	<span>$jsonArray[notify_time]</span>
</dd>


<dd>
	<span>通知类型</span>
	<span>$jsonArray[notify_type]</span>
</dd>


<dd>
	<span>通知校验ID</span>
	<span>$jsonArray[notify_id]</span>
</dd>


<dd>
	<span>开发者的app_id	</span>
	<span>$jsonArray[app_id]</span>
</dd>


<dd>
	<span>接口版本	</span>
	<span>$jsonArray[version]</span>
</dd>

<dd>
	<span>支付宝交易号	</span>
	<span>$jsonArray[trade_no]</span>
</dd>



<dd>
	<span>商户订单号</span>
	<span>$jsonArray[out_trade_no]</span>
</dd>



<dd>
	<span>买家支付宝用户号</span>
	<span>$jsonArray[buyer_id]</span>
</dd>



<dd>
	<span>买家支付宝账号</span>
	<span>$jsonArray[buyer_logon_id]</span>
</dd>



<dd>
	<span>卖家支付宝用户号</span>
	<span>$jsonArray[seller_id]</span>
</dd>



<dd>
	<span>交易状态	</span>
	<span>$jsonArray[trade_status]</span>
</dd>



<dd>
	<span>订单金额	</span>
	<span>$jsonArray[total_amount]</span>
</dd>



<dd>
	<span>实收金额	</span>
	<span>$jsonArray[receipt_amount]</span>
</dd>



<dd>
	<span>付款金额</span>
	<span>$jsonArray[buyer_pay_amount]</span>
</dd>



<dd>
	<span>订单标题</span>
	<span>$jsonArray[subject]</span>
</dd>




<dd>
	<span>交易创建时间</span>
	<span>$jsonArray[gmt_create]</span>
</dd>



<dd>
	<span>交易付款时间</span>
	<span>$jsonArray[gmt_payment]</span>
</dd>

<button><a href="?$ctrl">返 回</a></button>

</div>