
    <div id="NEWS" class="box">

        <span id="nav1" onmouseover="jsNav('nav',1)">新闻公告</span>
        <span id="nav2" onmouseover="jsNav('nav',2)">情感故事</span>
        <span id="nav3" onmouseover="jsNav('nav',3)"></span>
        <span id="nav4" onmouseover="jsNav('nav',4)"></span>
        <span id="nav5" onmouseover="jsNav('nav',5)">美文</span>
        <div id="nav_1">
        <!--{loop $DocumentList['renwu'] $key $List}-->
        <dl><a class="$List[style]" href="?document=Info&did=$key">$List[name]</a></dl>
        <!--{/loop}-->
        </div>
        <div id="nav_2" style="display:none">
        <!--{loop $DocumentList['qinggan'] $key $List}-->
        <a class="$List[style]" href="?document=Info&did=$key">$List[name]</a>&nbsp;
        <!--{/loop}-->
        </div>
        <div id="nav_3" style="display:none">
        <!--{loop $DocumentList['jingyan'] $key $List}-->
        <a class="$List[style]" href="?document=Info&did=$key">$List[name]</a>&nbsp;
        <!--{/loop}-->
        </div>
    </div>