<script type="text/javascript" src="$ui/skin/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="$ui/skin/slide.js"></script>

<style type="text/css">
#SLIDE{width:600px;}
.show_box{margin:auto;position:relative;overflow:hidden;padding:1rem 0;
	width:600px;height: 300px;}
.show_box .pic_list img{width:600px;height:300px;}
.pic_list{position:relative}
.pic_list li:first-child{display:block;}
.slideNav{width:100%;position:absolute;bottom:0;background:#444;
	display:flex;justify-content:space-around;white-space:nowrap;}
.slideNav a{padding:0.5rem;color:#fff;}
.slideNav a.select{background:#5c0d0d;}
</style>

<div id="SLIDE">
	<div class="show_box">
		<ul class="pic_list">
			<!--{loop $SourceList['Slide'] $key $List}-->
			<li><a href="$List[url]"><img alt="$List[word]" src="$List[avatar]"/></a></li>
			<!--{/loop}-->
		</ul>
		<div class="slideNav">
			<!--{loop $SourceList['Slide'] $key $List}-->
			<a href="$List[url]" class="select">$List[word]</a>
			<!--{/loop}-->
		</div>
	</div>
</div>
<p class="clear"></p>

<script type="text/javascript">
$(function(){
	$(".show_box").turnPic();
})
</script>