{view man}

<div id="ADMIN_GRID" class="Grid">
	<a href="?category"><span>分类</span></a>
	<a href="?user=Admin"><span>用户</span></a>
	<a href="?document"><span>文档</span></a>
	<a href="?magic=Admin"><span>武功</span></a>
	<a href="?source"><span>数据源</span></a>
	<a href="?equip=Admin"><span>装备</span></a>
	<a href="?npc=Admin"><span>NPC</span></a>
	<a href="?daoju=Admin"><span>道具</span></a>
	<a href="?album=Admin"><span>相册</span></a>
	<a href="?item"><span>ITEM</span></a>
	<a href="?nav"><span>导航</span></a>
	<a href="?online"><span>在线 $onlineCount 人</span></a>
	<a href="?payment=paymentListAdmin&state=1"><span>充值</span></a>
	<a href="?user">返回</a>
</div>

<div style="display:none">
<a href="?node">Node</a>
<a href="?mould">模型</a>
<a href="?attribute">attribute</a>
</div>
