{view head}
<!--{eval $albumCat=cat('album');}-->
<script language="javascript" src="http://$HOST/$ui/js/waterfall.js"></script>

<diy class="center">
<!--{loop $albumCat $key $Cat}-->
<a class="zihong" href="?$ctrl=List&catid=$key">$Cat[name]</a>&nbsp;
<!--{/loop}-->
</diy>

<!--{if $kindid}-->
<diy class="center">
	<span>$daojuKind[$kindid][name]</span>
</diy>
<!--{/if}-->


<div id="waterfall">
	<!--{loop $dataArray $Array}-->
	<div class="box">
		<div class="photo"><img src="$Array[avatar]"></div>
	</div>
	<!--{/loop}-->
</div>


{view foot}
