{view head}
<!--{eval $catArray=cat($table);}-->

<diy class="center">
<!--{loop $catArray $Cat}-->
<a href="?$ctrl=List&catid=$Cat[catid]">$Cat[name]</a>&nbsp;
<!--{/loop}-->
</diy>

<div class="List">
<!--{if $catid}-->
<dt>
	<span>$catArray[$catid][name]</span>
</dt>
<!--{/if}-->
<!--{loop $dataArray $mk $Array}-->
<dl>
	<span>
		【$Array[cat]】
		<a class="$Array[style]" href="?$ctrl=Info&$primary=$mk">$Array[title]</a>
	</span>

	<span><!--{echo date('m/d',$Array[pubTime])}--></span>
</dl>
<!--{/loop}-->
</div>

<diy class="center" id="paging">{view paging}</diy>

{view foot}
