<div ID="FOOT">
	<li>官方客服电话400-009-7889</li>
    <li><a href="?login=about">山东茂百信息科技有限公司</a><a href="ydb.html">版权所有</a><a href="?user=session">.</a></li>
    <li>
		<a target="_blank" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">鲁ICP备17021652号-1</a>
		<script src="https://s13.cnzz.com/z_stat.php?id=1261961613&web_id=1261961613" language="JavaScript"></script>
	</li>
</div>

</body>

<div class="bottom1px" onMouseOver="FixedBottom.style.display='block';"></div>

<div id="FixedBottom">

	<span id="result">$theajax</span>

	<div id="Tool">
			<div class="<!--{if $ctrl=='user'}-->A4H<!--{else}-->A4<!--{/if}-->"><a href="?user"><span class="tu"></span><span class="zi">我的</span></a></div>
	</div>

</div>

<script language="javascript" src="http://$HOST/$ui/ajax.js"></script>
<!--{echo $ajaxResult;}-->

</html>
