<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$charset" />
<title>千年</title>
<base href="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="http://$HOST/$ui/common.css" rel="stylesheet" type="text/css" />
<link href="http://$HOST/$ui/color.css" rel="stylesheet" type="text/css">
<link href="http://$HOST/$ui/flex.css" rel="stylesheet" type="text/css">
<link href="http://$HOST/$ui/www.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]><script src="http://$HOST/$ui/css3-mediaqueries.js"></script><![endif]-->
</head>
<body>

{view head_pc}
