<style>
body{background:url($ui/skin/bg.jpg) center top no-repeat}
#HEAD{height:500px;}
#SIDE{width:24%;float:left;text-align:left;color:#7d7068;}
#POSITION{width:75%;float:right;}
#MAIN{width:75%;float:right;background:white;}

.Guide{background: gray;font-size:3rem;line-height:6rem;}

.Side{
    background-color: #14171b;
	font-size:1.6rem;line-height:3rem;
	margin-bottom:1rem;
}
.Side dt{font-size:2.2rem;line-height:4rem;color:#c01000;border-bottom:1px solid #2b3036;margin-left:2rem;}
.Side dd{padding:1rem;}

.Side a{
    display: block;
    width: 100%;
    color: #c9cccf;
    text-align: center;
    font-size:22px;
    line-height:80px;
}
.quick a:hover{background-color: #5c0d0d;}
.Side dl{display:flex;justify-content:center;align-items:center;}
.Side dl span{display:inline-block;margin:0 1rem;}
.zhuce{background:url(/ui/icon/zhuce.png) no-repeat;width:32px;height:32px;}
.download{display:block;width:221px;height:135px;background: url($ui/skin/btn_down.jpg) no-repeat center top;margin:auto;}


#POSITION{
    height: 8rem;
    overflow: hidden;
    background: url(/ui/skin/position.png) repeat-x center;
    font-family: "微软雅黑";
}
#POSITION strong{
    float: left;
    padding-left: 3rem;
    font-size: 2.6rem;
    line-height:8rem;
    color: #fff;
}
</style>

<div id="HEAD">
	<div class="Guide">
		<a href="/">官方网站</a>
		<a href="?document=List">新闻资讯</a>
		<a href="#">下载中心</a>
		<a href="?cell=Guide">游戏资料</a>
		<a href="#">游戏充值</a>
		<a href="#">客服中心</a>
	</div>
</div>


<div id="SIDE">

	<div class="Side">
		<a class="download" href="#"></a>
	</div>

	<div class="Side quick">
		<a href="?account">
		<dl>
			<span class="zhuce"></span>
			<span>注册</span>
		</dl>
		</a>

		<a href="?account=Login">
		<dl>
			<span class="arrow"></span>
			<span>登录</span>
		</dl>
		</a>

		<a href="?payment">
		<dl>
			<span class="notice"></span>
			<span>充值</span>
		</dl>
		</a>
	</div>
	
	<div class="Side">
		<dt>客服中心</dt>
		<dd>
			<p>工作时间：09:30--18:00</p>
			<p>每周一到周六上班 周日休息</p>
			<p>投诉及建议请邮件至：</p>
			<p>gm@1000y.com</p>
		</dd>
	</div>

	<div class="Side">
		<img src="$ui/skin/side1.jpg">
	</div>

	<div class="Side">
		<dt>仙侠千年郑重承诺</dt>
		<dd>
			<p class="symbol">独家源码版本，官方品质运营</p>
			<p class="symbol">千年正统续作，原汁原味设计</p>
			<p class="symbol">正规公司运营，长期公平稳定</p>
			<p class="symbol">游戏设置合理，版本持续更新</p>
			<p class="symbol">长期投放广告，保证人气火爆</p>
		</dd>
	</div>

	<div class="Side1"></div>

	<div class="Side">
		<img src="$ui/skin/side2.jpg">
	</div>

</div>

<div id="POSITION">
	<strong>$Nav['title']</strong>
	<span></span>
</div>


<div id="MAIN">
