<style type="text/css">
#FOUR{display:flex;justify-content:space-between;}
#FOUR dl{
    position: relative;
    margin:1rem;
}
#FOUR .txt{
    position: absolute;
    bottom:0;
    width:100%;
    background-color: #000000;
    opacity: 0.5;
    color:white;
}
#PHOTO a{float:left;width:20%;padding:1rem;}
#PHOTO img{height:200px;width:200px;}
</style>

<script type="text/javascript">
function jsNav(name,cursel){
    for(i=1;i<=5;i++){
    var menufr=document.getElementById(name+i);
    var confr=document.getElementById(name+'_'+i);
    //document.getElementById(name+"1"+i).style.display= i==cursel ?'':'none';
    menufr.className=i==cursel?"hover":"";
    confr.style.display=i==cursel?"block":"none";
    }
}
</script>

</MAIN>

<MAIN>

<SIDE>
    {view _download}
    {view _kaiqu}
</SIDE>

<div id="MAIN">
    {view _news}
</div>

</MAIN>

<MAIN>
{view _four}
</MAIN>

<MAIN>
    <SIDE>
        {view _kefu}
    </SIDE>

    <div id="MAIN">
        {view _photo}
    </div>
</MAIN>


</div>