<style type="text/css">
#FOUR{display:flex;justify-content:space-between;}
#FOUR dl{
    position: relative;
    margin:1rem;
}
#FOUR .txt{
    position: absolute;
    bottom:0;
    width:100%;
    background-color: #000000;
    opacity: 0.5;
    color:white;
}
#PHOTO a{float:left;width:20%;padding:1rem;}
#PHOTO img{height:200px;width:200px;}
</style>

<script type="text/javascript">
function jsNav(name,cursel){
    for(i=1;i<=5;i++){
    var menufr=document.getElementById(name+i);
    var confr=document.getElementById(name+'_'+i);
    //document.getElementById(name+"1"+i).style.display= i==cursel ?'':'none';
    menufr.className=i==cursel?"hover":"";
    confr.style.display=i==cursel?"block":"none";
    }
}
</script>


<div id="FUWUQI" class="box">
    <dt>推荐新区</dt>
    <!--{loop $SourceList['fuwuqi'] $key $List}-->
    <dl>
    <a href="$List[url]">$List[word]</a>
    </dl>
    <!--{/loop}-->
</div>

<div id="NEWS" class="box">

    <span id="nav1" onmouseover="jsNav('nav',1)">新闻公告</span>
    <span id="nav2" onmouseover="jsNav('nav',2)">情感故事</span>
    <span id="nav3" onmouseover="jsNav('nav',3)"></span>
    <span id="nav4" onmouseover="jsNav('nav',4)"></span>
    <span id="nav5" onmouseover="jsNav('nav',5)">美文</span>
    <div id="nav_1">
    <!--{loop $DocumentList['renwu'] $key $List}-->
    <dl><a class="$List[style]" href="?document=Info&did=$key">$List[name]</a></dl>
    <!--{/loop}-->
    </div>
    <div id="nav_2" style="display:none">
    <!--{loop $DocumentList['qinggan'] $key $List}-->
    <a class="$List[style]" href="?document=Info&did=$key">$List[name]</a>&nbsp;
    <!--{/loop}-->
    </div>
    <div id="nav_3" style="display:none">
    <!--{loop $DocumentList['jingyan'] $key $List}-->
    <a class="$List[style]" href="?document=Info&did=$key">$List[name]</a>&nbsp;
    <!--{/loop}-->
    </div>
</div>

<div id="FOUR" class="box">
<!--{loop $SourceList['Four'] $key $List}-->
<a href="$List[url]">
<dl>
    <img src="$List[avatar]">
	<div class="txt">$List[word]</div>
</dl>
</a>
<!--{/loop}-->
</div>

<div id="PHOTO" class="box">
<dt>游戏截图</dt>
<dl>
<!--{loop $AlbumList['youxi'] $key $List}-->
<a href="?$ctrl=Info&albumid=$List[albumid]">
    <img src="$List[avatar]">
    <div class="txt">$List[name]</div>
</a>
<!--{/loop}-->
</dl>
</div>

</div>