
<style>

#INDEXMAIN a{height:10rem;font-size:2rem;}
#INDEXMAIN a>em img{width:75%;}
#INDEXMAIN a>span{width:100%;color: #333;}
#INDEXMAIN a:nth-child(1){ background-color:#fff1f2;}
#INDEXMAIN a:nth-child(2){ background-color:#fef2e9;}
#INDEXMAIN a:nth-child(3){ background-color:#fff1f9;}
#INDEXMAIN a:nth-child(4){ background-color:#f1faff;}
#INDEXMAIN a:nth-child(5){ background-color:#fff1f2;}
#INDEXMAIN a:nth-child(6){ background-color:#eafdf2;}

#INDEXZONE a{height:6rem;font-size:2rem;}
#INDEXZONE a:nth-child(1){ background-color:#fff1f2; border:#ff7a29 1px dashed;}
#INDEXZONE a:nth-child(1) a span{ color:#ff7623;}
#INDEXZONE a:nth-child(2){ background-color:#f1faff; border:#2cb4ff 1px dashed;}
#INDEXZONE a:nth-child(2) a span{ color:#2cb4ff;}
#INDEXZONE a:nth-child(3){ background-color:#fff1f2; border:#ff4242 1px dashed;}
#INDEXZONE a:nth-child(3) a span{ color:#ff4242;}

</style>


<div id="INDEXMAIN" class="Grid">
	<a href="?cell=Guide">游戏资料</a>
	<a href="?document=List">文档</a>
	<a href="?source=List">资源</a>
	<a href="?magic=List">武功</a>
	<a href="?npc=List">NPC</a>
	<a href="?offer">爆率</a>
	<a href="?equip=List">装备</a>
	<a href="?daoju=List">道具</a>
	<a href="?album=List">相册</a>
	<a href="?payment"><EM><img src="http://$HOST/$ui/skin/mb_ind02.png"></EM><span>充值管理</span></a>
    <a href="?cash"><EM><img src="http://$HOST/$ui/skin/mb_ind03.png"></EM><span>提现管理</span></a>
</div>

<div id="INDEXZONE" class="Grid">
	<a href="#"><EM><img src="http://$HOST/$ui/skin/mb_ind07.png"></EM><span>黄金区</span></a>
	<a href="#"><EM><img src="http://$HOST/$ui/skin/mb_ind08.png"></EM><span>钻石区</span></a>
	<a href="#"><EM><img src="http://$HOST/$ui/skin/mb_ind09.png"></EM><span>皇冠区</span></a>
</div>
<div style="clear:both;"></div>
</div>