{view man}
<!--{eval $catArray=cat($table);}-->

<diy class="center">
<!--{loop $catArray $cat}-->
<a href="?$ctrl=Admin&catid=$cat[catid]">$cat[name]</a>&nbsp;
<!--{/loop}-->
</diy>

<form method="post" action="?$ctrl=insert">
<input type="hidden" name="catid" value="$catid">
<!--{echo token();}-->
<diy class="center">
	<span><input type="text" name="name"/></span>
	<span><button>新增</button></span>
</diy>
</form>

<dl class="Sheet">
<dd>
	<span><a href="$Url[$primary]">编号</a></span>
	<span>类型</span>
	<span>名称</span>
	<span>编辑</span>
	<span>排序</span>
	<span>激活</span>
</dd>
<!--{loop $dataArray $mk $Array}-->
<dd {if !$Array[state]} class='closed'{/if}>
	<span title="$Array[$primary]">
		<a href="?$ctrl=delete&{$primary}=$mk" onclick="return(confirm('是否删除？'))">X</a>
	</span>
    <span>$Array[kind]</span>
    <span>
		<form id="avatarForm[$mk]" method="post" enctype="multipart/form-data" action="?$ctrl=avatarSubmit">
		<input type="hidden" name="$primary" value="$mk">
		<input type="file" name="avatar" onchange="document.getElementById('avatarForm[$mk]').submit();" style="display:none"/>
		<a onclick="document.getElementById('avatarForm[$mk]').avatar.click();">
			<img src="$Array[avatar]">
		</a>
		</form>
		<small>$Array[name]</small>
	</span>

    <span><a href="?$ctrl=Edit&$primary=$mk">修改</a></span>
	<span>{view seq}</span>
	<span>{view state}</span>
</dd>
<!--{/loop}-->
<p id="paging">{view paging}</p>
</dl>
